*{
    box-sizing: border-box;
}

/* GET RID OF MIN-WIDTH FOR RESPONSIVENESS */

body {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;  
}

.navbar {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    background-color: rgb(34, 33, 33);
    height: 90px;
    position: relative;
    width: 100%;
}

.navbar-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
}

/* search bar that shows in navbar when click search */
.nav-search.active {
    display: block;
}

.nav-search {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: rgb(34,33,33);
    padding: 15px;
    z-index: 9999;
}

.nav-search input {
    width: 100%;
    padding: 10px;
    font-size: 18px;
}

/* end of search bar */
.logo {
  font-family: 'Cinzel', serif;
  font-size: 42px;
  letter-spacing: 3px;
  font-weight: bold;
  padding: 15px 15px;
  color: rgb(154, 61, 61);
  text-shadow: 2px 1px #000000
}

.nav-links {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    list-style-type: none;

    display: flex;
    flex-direction: row;
    text-decoration: none;
    gap: 15px;
    font-size: 15px;
    font-weight: 1000;
    color: rgb(179, 179, 179);
}

.nav-search-btn {
        display: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.footer {
    background-color: rgb(34, 33, 33);
    color: rgb(140, 140, 140);
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    text-align: center;
    padding: 20px 10px;
    margin-top: 0;
    /* flex: 1; */
}
  
.main-back {
    /* height: 100vh; */
    /* min-height: 100vh; */
    flex: 1;
    background: linear-gradient(
        to bottom,
        rgb(154, 61, 61) 0%,
        rgb(99, 42, 42) 15%,
        rgb(66, 35, 35) 25%,
        rgb(43, 29, 29) 40%,
        rgb(34, 27, 27)50%,
        rgb(18, 18, 18) 80%
         );
}
.page-container {
    max-width: 1200px;
    margin: 0 auto;
    /* background-color: rgb(21, 21, 21); */
}
.contact-title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* max-width: 1000px; */
    max-width: 1300px; /* match container */
    margin: 0 auto 10px;
    /* width: fit-content; */
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    margin-top: 10px;
}

.contact-title {
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    color: rgb(34, 33, 33);
    /* color: white; */
    font-weight: 600px;
    padding: 10px;
    text-shadow: 1px 1px #000000;
    /* border-bottom: 1px solid black; */
}

.contact-form-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    /* border: 1px solid green; */
}

.contact-form {
    width: 100%;
    max-width: 700px;
    background: #2a2a2a;
    padding: 30px;
    border-radius: 12px;
    margin-bottom: 30px;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-size: 25px;
    margin-bottom: 5px;
    color: rgb(179, 179, 179);
}

.form-group span {
    color: #df8d8d;
}

.form-group input,
.form-group textarea {
    padding: 12px;
    border-radius: 6px;
    border: none;
    background: #444;
    color: white;
    font-size: 16px;
}

.full {
    grid-column: 1 / -1;
}

/* button */
.submit-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background: rgb(154, 61, 61);
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
}

.submit-btn:hover {
    background: rgb(180, 80, 80);
}

.dropdown {
    position: absolute;
    top: 100%;   
    left: 0;
    width: 100%;

    background: gray;
    border: 1px solid #ccc;
    border-top: none;

    box-shadow: 0 6px 16px rgba(0,0,0,0.15);

    max-height: 250px;  
    overflow-y: auto;  

    z-index: 1000;
}

.dropdown-item {
  padding: 20px 12px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
  font-size: 14px;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;         
  -webkit-box-orient: vertical;

  overflow: hidden;
}

.dropdown-item:hover {
  background: #a15a5a;
}

.dropdown-item:last-child {
    border-bottom: none;
}

.menu-toggle {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
}

@media (max-width: 500px) {
    .logo {
        font-size: 28px;
        padding: 5px;
        margin-top: 10px;
    }

    body {
        width: 100%;
    }

    .menu-toggle {
        position: relative;
        display: block;
        font-size: 30px;
        cursor: pointer;
        color: white;
        padding: 10px;
    }

    .navbar {
        height: 70px;
        position: relative;
        width: 100%;
        /* margin-bottom: -30px; */
    }

    .nav-search-btn {
        display: inline-block;
    }

    .nav-search-container {
        position: relative;   
        width: 100%;
    }

    .navbar-inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }

    .nav-links {
        z-index: 9999;

        display: none; 
        flex-direction: column;

        background-color: rgb(34,33,33);
        
        position: absolute;
        top: 40px;                 /* right under navbar */
        left: 0;
        width: 100%;

        overflow-y: auto;

        padding-left: 0;
        padding: 10px;
    }

    .nav-links.active {
        display: flex; 
    }

    .nav-links li {
        /* padding: 5px 0; */
        padding-top: 10px;
        padding-bottom: 0;
        border-top: 1px solid rgba(255,255,255,0.1);
        text-align: center;
        align-items: center;
    }
    .search-bar {
    display: none;
    }

    .dropdown {
        position: absolute;
        top: 100%;  
        left: 0;
        width: 100%;

        background: gray;
        border: 1px solid #ccc;
        border-top: none;

        box-shadow: 0 6px 16px rgba(0,0,0,0.15);

        max-height: 250px;  
        overflow-y: auto;  

        z-index: 1000;
    }

    .dropdown-item {
        padding: 10px 12px;
        cursor: pointer;
        border-bottom: 1px solid #eee;
        font-size: 18px;

        display: -webkit-box;
        -webkit-line-clamp: 3;
        line-clamp: 3;        
        -webkit-box-orient: vertical;

        overflow: hidden;
    }

    .dropdown-item:hover {
        background: #a15a5a;
    }

    .dropdown-item:last-child {
        border-bottom: none;
    }

    
    .empty-message {
        grid-column: 1 / -1;
        text-shadow: 1px 1px #000000;
        font-size: 19px;
        padding: 20px;
        width: 100%;
    }

    .empty-message p {
        font-size: 13px;
    }

    .empty-message span {
        color: rgb(154, 61, 61);
        padding: 0 3px 0 3px;
    }

    .watchlist-title {
        font-size: 19px;
        padding: 0;
    }

    .plus {
        font-size: 22px;
        font-weight: 700;
        line-height: 1;
    }

    .title-and-search {
        padding: 5px;
    }

    .add-btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5px;
        font-size: 16px;
        font-weight: 700;
        line-height: 1;
        text-transform: uppercase;
        border-radius: 8px;
        color: rgb(179, 179, 179);
        background-color: rgb(34, 33, 33);
    }

    .watchlist-container {
        grid-template-columns: repeat(auto-fill, 110px);
        gap: 10px;
        margin-left: 10px;
    }

    .delete-btn {
        opacity:1;
        padding: 0;
        height: 20px;
        width: 20px;
        font-size: 14px;
        font-weight: 400;
    }

    .anime-card h3 {
        font-size: 10px;
    }

    .anime-card p {
        font-size: 9px;
    }

    .contact-form {
        padding: 10px;
        width: 90%;
    }

    .form-grid {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .form-group label {
        font-size: 16px;
    }

    .form-group input,
    .form-group textarea {
        padding: 6px;
        font-size: 14px;
        /* max-width: 300px; */
    }

    .submit-btn {
        padding: 8px 16px;
    }

}

@media (min-width: 500px) and (max-width: 700px) {
    .logo {
        font-size: 28px;
    }

    body {
        width: 100%;
    }

    .navbar {
        height: 70px;
        position: relative;
        width: 100%;
        /* margin-bottom: -30px; */
    }

    .navbar-inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }

    .nav-links {
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 2px;
        text-transform: uppercase;
        list-style-type: none;

        display: flex;
        flex-direction: row;
        text-decoration: none;
        gap: 10px;
        font-size: 11px;
        font-weight: 1000;
        color: rgb(179, 179, 179);
    }

    .nav-links li {
        padding-top: 10px;
        padding-bottom: 0;
        /* border: 1px solid green; */
        text-align: center;
        align-items: center;
    }

    .title-and-search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* max-width: 1000px; */
    max-width: 1300px; /* match container */
    margin: 0 auto 10px;
    /* width: fit-content; */
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    }

    .plus {
        font-size: 22px;
    }

    .add-btn {
        font-size: 18px;
        margin-right: 5px;
    }

    .watchlist-title {
        font-size: 22px;
    }

    .watchlist-container {
        grid-template-columns: repeat(auto-fill, 120px);
        gap: 10px;
        margin-left: 10px;
    }

    .delete-btn {
        opacity:1;
        padding: 0;
        height: 20px;
        width: 20px;
        font-size: 14px;
        font-weight: 400;
    }

    .anime-card h3 {
        font-size: 12px;
    }

    .anime-card p {
        font-size: 11px;
    }

    .empty-message {
        font-size: 20px;
        padding: 20px;
    }

    .empty-message p {
        font-size: 16px;
    }

    
    .dropdown {
        position: absolute;
        top: 100%;  
        left: 0;
        width: 100%;

        background: gray;
        border: 1px solid #ccc;
        border-top: none;

        box-shadow: 0 6px 16px rgba(0,0,0,0.15);

        max-height: 250px;  
        overflow-y: auto;  

        z-index: 1000;
    }

    .dropdown-item {
        padding: 10px 12px;
        cursor: pointer;
        border-bottom: 1px solid #eee;
        font-size: 18px;

        display: -webkit-box;
        -webkit-line-clamp: 3;
        line-clamp: 3;        
        -webkit-box-orient: vertical;

        overflow: hidden;
    }

    .dropdown-item:hover {
        background: #a15a5a;
    }

    .dropdown-item:last-child {
        border-bottom: none;
    }

    .contact-form {
        padding: 10px;
        width: 90%;
    }

    .form-group label {
        font-size: 20px;
    }

    .form-group input,
    .form-group textarea {
        font-size: 16px;
        padding: 10px;
    }


}

